BlackTatch/TesteFunc/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4888/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4888/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4888/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ConsultarFuncionarioDataAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarFuncionarioDataAccess" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarFuncionarioDataAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarFuncionarioDataAccessResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelecionarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_SelecionarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExcluirFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_ExcluirFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AtualizarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_AtualizarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirFuncionarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ConsultarFuncionarioDataAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConsultarFuncionarioDataAccess" message="tns:IService1_ConsultarFuncionarioDataAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultarFuncionarioDataAccessResponse" message="tns:IService1_ConsultarFuncionarioDataAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelecionarFuncionario" message="tns:IService1_SelecionarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelecionarFuncionarioResponse" message="tns:IService1_SelecionarFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExcluirFuncionario" message="tns:IService1_ExcluirFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExcluirFuncionarioResponse" message="tns:IService1_ExcluirFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AtualizarFuncionario" message="tns:IService1_AtualizarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AtualizarFuncionarioResponse" message="tns:IService1_AtualizarFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InserirFuncionario" message="tns:IService1_InserirFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InserirFuncionarioResponse" message="tns:IService1_InserirFuncionario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarFuncionarioDataAccess">
      <soap:operation soapAction="http://tempuri.org/IService1/ConsultarFuncionarioDataAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/SelecionarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/ExcluirFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/AtualizarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/InserirFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:4888/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>