BlackTatch/TesteFunc/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4888/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" />
  <xs:element name="ConsultarFuncionarioDataAccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFuncionarioDataAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="ConsultarFuncionarioDataAccessResult" nillable="true" type="q1:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFuncionario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="SelecionarFuncionarioResult" nillable="true" type="q2:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFuncionario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="DadosFuncionario" nillable="true" type="q3:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="dadosFuncionario" nillable="true" type="q4:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>