BlackTatch/AcessoADados/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4888/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" />
  <xs:import schemaLocation="http://localhost:4888/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" />
  <xs:import schemaLocation="http://localhost:4888/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" />
  <xs:element name="ConsultarFornecedorDataAccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFornecedorDataAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="ConsultarFornecedorDataAccessResult" nillable="true" type="q1:ArrayOfFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFornecedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="SelecionarFornecedorResult" nillable="true" type="q2:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFornecedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="DadosFornecedor" nillable="true" type="q3:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="DadosFornecedor" nillable="true" type="q4:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarClienteDataAccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarClienteDataAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="ConsultarClienteDataAccessResult" nillable="true" type="q5:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="SelecionarClienteResult" nillable="true" type="q6:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="DadosCliente" nillable="true" type="q7:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="dadosCliente" nillable="true" type="q8:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFuncionarioDataAccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFuncionarioDataAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="ConsultarFuncionarioDataAccessResult" nillable="true" type="q9:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFuncionario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="SelecionarFuncionarioResult" nillable="true" type="q10:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFuncionario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="DadosFuncionario" nillable="true" type="q11:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="DadosFuncionario" nillable="true" type="q12:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFornecedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCompra" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="DadosCompra" nillable="true" type="q13:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>