BlackTatch/Apresentacao/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFornecedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fornecedor" nillable="true" type="tns:Fornecedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFornecedor" nillable="true" type="tns:ArrayOfFornecedor" />
  <xs:complexType name="Fornecedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailRepresentante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdFornecedor" type="xs:int" />
      <xs:element minOccurs="0" name="NomeEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeRepresentante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneCelularRepresentante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneFixo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fornecedor" nillable="true" type="tns:Fornecedor" />
  <xs:complexType name="Compra">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompraDescricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCompra" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescricaoModelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCompra" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompraFornecedor" type="xs:int" />
      <xs:element minOccurs="0" name="IdCompraUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdItensCompra" type="xs:int" />
      <xs:element minOccurs="0" name="LogIn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaturezaOperacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFuncionario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotaCompra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecoCusto" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantidadeItem" type="xs:int" />
      <xs:element minOccurs="0" name="QuantidadeTotal" type="xs:int" />
      <xs:element minOccurs="0" name="ValorTotalCompra" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Compra" nillable="true" type="tns:Compra" />
  <xs:complexType name="ArrayOfCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Compra" nillable="true" type="tns:Compra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompra" nillable="true" type="tns:ArrayOfCompra" />
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescricaoModelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProduto" type="xs:int" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="ValorRevenda" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
</xs:schema>