BlackTatch/Apresentacao/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCadastro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefoneResidencial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEndereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Venda">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataVenda" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdFuncionario" type="xs:int" />
      <xs:element minOccurs="0" name="IdItensVenda" type="xs:int" />
      <xs:element minOccurs="0" name="IdProduto" type="xs:int" />
      <xs:element minOccurs="0" name="IdVenda" type="xs:int" />
      <xs:element minOccurs="0" name="LogIn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFunconario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecoUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="ValorTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venda" nillable="true" type="tns:Venda" />
  <xs:complexType name="ArrayOfVenda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Venda" nillable="true" type="tns:Venda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenda" nillable="true" type="tns:ArrayOfVenda" />
</xs:schema>