BlackTatch/Apresentacao/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4888/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" />
  <xs:import schemaLocation="http://localhost:4888/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" />
  <xs:import schemaLocation="http://localhost:4888/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" />
  <xs:element name="ConsultarFornecedorDataAccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFornecedorDataAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="ConsultarFornecedorDataAccessResult" nillable="true" type="q1:ArrayOfFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFornecedorNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFornecedorNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="ConsultarFornecedorNomeResult" nillable="true" type="q2:ArrayOfFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFornecedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="SelecionarFornecedorResult" nillable="true" type="q3:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFornecedor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="DadosFornecedor" nillable="true" type="q4:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="DadosFornecedor" nillable="true" type="q5:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarClienteDataAccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarClienteDataAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="ConsultarClienteDataAccessResult" nillable="true" type="q6:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="SelecionarClienteResult" nillable="true" type="q7:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="DadosCliente" nillable="true" type="q8:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="dadosCliente" nillable="true" type="q9:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFuncionarioDataAccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFuncionarioDataAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="ConsultarFuncionarioDataAccessResult" nillable="true" type="q10:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFuncionarioNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFuncionarioNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="ConsultarFuncionarioNomeResult" nillable="true" type="q11:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFuncionario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="SelecionarFuncionarioResult" nillable="true" type="q12:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFuncionario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="DadosFuncionario" nillable="true" type="q13:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFuncionarioComissao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="DadosFuncionario" nillable="true" type="q14:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarFuncionarioComissaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="DadosFuncionario" nillable="true" type="q15:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="DadosCompra" nillable="true" type="q16:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirItensCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="DadosItensCompra" nillable="true" type="q17:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirItensCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCompra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="SelecionarCompraResult" nillable="true" type="q18:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCompraNoBanco">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCompraNoBancoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="ConsultarCompraNoBancoResult" nillable="true" type="q19:ArrayOfCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCompraId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCompraIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="ConsultarCompraIdResult" nillable="true" type="q20:ArrayOfCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCompraDatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Data2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCompraDatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="ConsultarCompraDatasResult" nillable="true" type="q21:ArrayOfCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProdutoDataAccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProdutoDataAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="ConsultarProdutoDataAccessResult" nillable="true" type="q22:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProdutoModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProdutoModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="ConsultarProdutoModeloResult" nillable="true" type="q23:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProdutoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProduto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProdutoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="ConsultarProdutoIdResult" nillable="true" type="q24:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProduto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="SelecionarProdutoResult" nillable="true" type="q25:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarProdutoSoma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="DadosProduto" nillable="true" type="q26:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarProdutoSomaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarProdutoSub">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="DadosProduto" nillable="true" type="q27:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarProdutoSubResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AcessoADados.Compras" minOccurs="0" name="DadosFornecedor" nillable="true" type="q28:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="DadosVenda" nillable="true" type="q29:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirVendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirItensVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="DadosItensVenda" nillable="true" type="q30:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirItensVendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdVenda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="SelecionarVendaResult" nillable="true" type="q31:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVendaNoBanco">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVendaNoBancoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="ConsultarVendaNoBancoResult" nillable="true" type="q32:ArrayOfVenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVendaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVendaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="ConsultarVendaIdResult" nillable="true" type="q33:ArrayOfVenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVendaDatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Data2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVendaDatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AcessoADados.Vendas" minOccurs="0" name="ConsultarVendaDatasResult" nillable="true" type="q34:ArrayOfVenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuarioId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuarioIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="ConsultarUsuarioIdResult" nillable="true" type="q35:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuarioLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuarioLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="ConsultarUsuarioLoginResult" nillable="true" type="q36:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuarioNoBanco">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuarioNoBancoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="ConsultarUsuarioNoBancoResult" nillable="true" type="q37:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="ValidarLoginResult" nillable="true" type="q38:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="DadosUsuario" nillable="true" type="q39:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="DadosUsuario" nillable="true" type="q40:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AcessoADados.Funcionarios" minOccurs="0" name="SelecionarUsuarioResult" nillable="true" type="q41:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>